body, html {
  height: 100%;
}

body {
  background: url(water-background.jpg);
  /* Set to 98 vs 100 to prevent white strip on bottom of board */
  height: 98%;
  background-repeat: no-repeat;
  /* background-position: center; */
  /* background-size: cover; */
  background-size: 100% 100%;
}
  
.box {
  display: inline-block;       
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin-bottom: -1px;
  }

.off {
  background-color: lightgray;
}

.on {
  background-color: green;
}
  
.box:hover { 
  background: #00CCFF;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 10%;
  margin-bottom: auto;
}
  
 h1 {
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
  background-color: blue;
  border-radius: 10px;
}

h1 span:nth-child(1){
  color: blueviolet;
}

h1 span:nth-child(2){
  color: lightgreen;
}

h1 span:nth-child(3){
  color: yellow;
}

h1 span:nth-child(4){
  color: hotpink;
}